In [ ]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
## Author
Greg Thomas

## Author
Greg Thomas

In [ ]:
#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
<b>Objectives</b>
- List popular languages used in Data Science
- List popular Data Science libraries
- List Data Science Tools
- illustrate arithmetic operations in Python

<b>Objectives</b>
- List popular languages used in Data Science
- List popular Data Science libraries
- List Data Science Tools
- illustrate arithmetic operations in Python

In [ ]:
#### Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Scala</li>
</ol>

#### Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Scala</li>
</ol>

In [ ]:
#### Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Matplotlib</li>
<li>scikit-learn</li>
<li>ggplot2</li>
</ol>

#### Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Matplotlib</li>
<li>scikit-learn</li>
<li>ggplot2</li>
</ol>

In [ ]:
| Data Science Tools |
|------------------|
|R|
|Jupyter Notebook|
|TensorFlow|

| Data Science Tools |
|------------------|
|R|
|Jupyter Notebook|
|TensorFlow|

#### Below are a few examples of evaluating arithmetic expressions in Python
#### <u>Addition</u>

In [4]:
res = 127 + 255 +10
print (res)

392

####  <u>Subtraction</u>

In [5]:
res = 3650 - 120
print (res)

3530

####  <u>Division</u>

In [6]:
res = 87.5 / 0.5
print (res)

175.0

####  <u>Exponentiation</u>

In [10]:
res = 2**16
print (res)

65536

#### This a simple arithmetic expression to mutiply then add integers

In [4]:
print ((3*4)+5)

17

####  This will convert 200 minutes to hours by dividing by 60

In [7]:
Hours = 200 / 60
print ("200 minutes in hours is ", round((Hours),2))

200 minutes in hours is  3.33